body .loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid black;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
  margin: auto;
  margin-top: 10px; }

.product-info {
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 45px; }
  .product-info .value-container .heading {
    font-weight: bold;
    border-bottom: 1px solid black; }
  .product-info .value-container .value {
    padding: 10px;
    margin-bottom: 10px;
    min-height: 20px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
